body { margin:0; padding:0; 
        /*font-family: 'Lato', Calibri, Arial, sans-serif;*/
        font-family: : 'Raleway';
      color: black;
      background: white;
      overflow: hidden;
      font-color: black;
    }


h1, h2, h3, h4, h5 p {
    color: black;
    display: inline-block;
    font-family: : 'Raleway';
}

h3 {
  font-size: 18px;
}

h5 {
  font-size: 13px;
}

p {
   color: black;
   font-size: 13px;
   font-family: : 'Raleway'; 

   margin-left: 0px;
    overflow:auto;
    display:block;
}


ul {
    list-style-type: disc;
    margin: 0;
    padding: 0;
}

li {
  color: black;
   font-size: 13px;
    margin-left: 15px;
    list-style-type: disc;
}


/*Image styling - to show up on the right in the pop up*/

img {
    float: left;
    margin-right: 10px;
    margin-top: 20px;
    clear:both;
}
img.ontheright {
    float:right;
}


#map { position:absolute; bottom:0; width:75%; height: 100% }


/*Menu
-------------------------------------------------*/

.menu-container {
  color: #fff;
  background-color: white; 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  /*align-content: stretch;  */
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

.menu-item {
  width: 20%;
  padding-bottom: 10px;
  border-bottom: 1px solid #e2e2e2;
/*  width: 20%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: stretch;  
  width: 100%;
  font-family: 'Raleway', sans-serif;
  border-bottom: 2px solid #e2e2e2;
  flex-shrink: 2;*/
}


.menu{
    width: 20%;
    position: relative;
    z-index: 1;
    flex-basis: auto;
    align-self: auto;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 30px;
}


#menu {
/*    width: 20%;
    position: relative;
    z-index: 1;
    flex-basis: auto;
    align-self: auto;*/
}

#menu a {
    font-size: 12px;
    /*color: #404040;*/
    /*color: black;*/
    display: flex-inline;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;

    color: black;
    background-color:transparent;


    border:1px solid black;
    border-radius:100px;
    
    padding: .3em 1.2em;
    margin:5px;
        
    background-size: 200% 100%; 
    background-image: linear-gradient(to right, transparent 50%, rgba(0, 0, 0, 0) 50%);
    transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
    width: 50%;
}

.button:hover{
  color:rgba(255, 255, 255, 1);
  background-color: black;
  background-position: -100% 100%;
/*    font-family: 'Raleway';*/
}

button:focus {outline:0;}

#menu a:last-child {
    border: none;
}

#menu a:hover {
    background-color: black;
    color: white;
}

#menu a.active {
    background-color: black;
    color: white;
}

/*#menu a.active:hover {
    background: black;
    color:white;
}*/

/*.menu-search {
  color: #fff;
  background-color: white; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: stretch;  
  width: 100%;
  font-family: 'Raleway', sans-serif;}*/


/* Pop Up
-------------------------------------------------*/
.mapboxgl-popup {
        width: 400px;
        height: 400px;
        /*font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;*/
        font-family:'Raleway';
    }
.mapboxgl-popup-content {
        color: red;
        font-size: 13px;
        font-family:'Raleway'; 
        margin-left: 0px;
        overflow:auto;
        display:block;
    }

img.mapboxgl-popup-content{
  float: left; 
  margin-right: 10px; 
  clear:both;"

}

/* GEOCODER SEARCH
-------------------------------------------------*/


.geocoder {
        position:absolute;
        z-index:1;
        width:50%;
        left:50%;
        margin-left:-25%;
        top:20px;
    }

.mapboxgl-ctrl-geocoder { min-width:100%; }



/* FLY TO
-------------------------------------------------*/
#fly {
/*        display: block;
        position: relative;
        margin: 0px auto;
        width: 50%;
        height: 40px;
        padding: 10px;
        border: none;
        border-radius: 3px;
        font-size: 12px;
        text-align: center;
        color: #fff;
        background: #ee8a65;*/
      }



/* BUTTON CSS
------------------------------------------- */

.button{
  display:inline-block;
  
  font-family: 'Raleway';
  text-decoration:none; 
  
  color: black;
  background-color:transparent;
  border:1px solid black;
  border-radius:100px;
  
  padding: .3em 1.2em;
  margin:5px;
      
  background-size: 200% 100%; 
  background-image: linear-gradient(to right, transparent 50%, rgba(0, 0, 0, 0) 50%);
  transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
  width: 50%;
}

.button:hover{
  color:rgba(255, 255, 255, 1);
  background-color: black;
  background-position: -100% 100%;
}

