body { margin:0; padding:0; 
        /*font-family: 'Lato', Calibri, Arial, sans-serif;*/
        font-family: : 'Raleway';
    color: black;
    background: white;
    overflow: hidden;
    font-color: black;

    }


h3 {
    color: black;
    font-family: : 'Raleway';
}

p {
   color: black;
   font-family: : 'Raleway'; 
}


#map { position:absolute; bottom:0; width:80%; height: 100% }




/*Menu
-------------------------------------------------*/

.menu-container {
  color: #fff;
  background-color: white; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: stretch;  
  width: 100%;
  font-family: 'Raleway', sans-serif;
}


.menu {
    width: 20%;
    position: relative;
    z-index: 1;
    flex-basis: auto;
    align-self: auto;
}

.search-location {
    width:20%;
    background: #fff;
    position: relative;
    flex-basis: auto;
    align-self: auto;
}








/* Pop Up
-------------------------------------------------*/
.mapboxgl-popup {
        max-width: 400px;
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }

#landing{
    background-color: white;
}



/* MAPBOX
-------------------------------------------------*/


.geocoder {
        position:absolute;
        z-index:1;
        width:50%;
        left:50%;
        margin-left:-25%;
        top:20px;
    }

.mapboxgl-ctrl-geocoder { min-width:100%; }